- replies.each do |reply|
  .reply-record
    .card-header #{reply.user.name} ãƒ» #{time_ago_in_words(reply.created_at, include_seconds: true)}å‰
    .card-body= simple_format(reply.content)
    %a{ href: user_reply_path(reply.user, reply), id: "#{reply.id}", method: :get }
= paginate replies
