= render 'share/form_error', f: f

.form-inputs
  - if @retweet.content
    = f.input :content, label: false, default: "#{@retweet.content}"
  - else
    = f.input :content, label: false, placeholder: 'コメント'
.form-actions= f.button :submit, 'つぶやく', class: 'btn btn-outline-dark'
