.tweet-card
  - if @retweet.content != ""
    %h4.card-header #{@retweet.user.name} さんがリツイート・#{time_ago_in_words(@retweet.created_at, include_seconds: true)}前
    .card-body
      #{simple_format(@retweet.content)}
      .tweet-card
        %h5.card-header #{@retweet.tweet.user.name} ・ #{time_ago_in_words(@retweet.tweet.created_at, include_seconds: true)}前
        .card-body= simple_format(@retweet.tweet.content)
  - else
    .card-header
      #{@retweet.user.name} さんがリツイート・#{time_ago_in_words(@retweet.created_at, include_seconds: true)}前
      %h4 #{@retweet.tweet.user.name} ・ #{time_ago_in_words(@retweet.tweet.created_at, include_seconds: true)}前
    .card-body= simple_format(@retweet.tweet.content)
  .card-footer
    - if current_user?(@retweet.user)
      .form-inline
        = button_to '更新', edit_tweet_retweet_path(@retweet.tweet, @retweet), method: :get, class: 'btn btn-outline-dark btn-sm'
        = button_to '削除', user_retweet_path(@retweet.user, @retweet), method: :delete, class: 'btn btn-outline-dark btn-sm'
.padding-form
  = render 'replies/form', tweet: @retweet.tweet, reply: @reply
.padding-child-record
  = render 'tweets/index', tweets: @retweet.tweet.replies.reverse_order.page(params[:page])
