= simple_form_for [user, tweet] do |f|
  = render 'share/form_error', f: f

  .form-inputs
    - if tweet.content
      = f.input :content, label: false, default: "#{tweet.content}"
    - else
      = f.input :content, label: false, placeholder: 'いまどうしてる？'
  .form-actions= f.button :submit, 'つぶやく', class: 'btn btn-outline-dark'
