.card.border-dark
  %h4.card-header #{@tweet.user.name} ・ #{time_ago_in_words(@tweet.created_at, include_seconds: true)}前に
  .card-body= simple_format(@tweet.content)
  .card-footer
    - if current_user?(@user)
      .form-inline
        = button_to '更新', edit_user_tweet_path, method: :get, class: 'btn btn-outline-primary btn-sm'
        = button_to '削除', user_tweet_path, method: :delete, class: 'btn btn-outline-primary btn-sm'
.p-3
  = render 'replies/form'
.pl-4
  = render 'replies/index', replies: @tweet.replies.reverse_order.page(params[:page])
