.application-header.fixed-top
  %nav.navbar.navbar-dark.bg-dark
    .navbar-brand.text-light
      %span.fab.fa-2x.fa-twitter
      %span Tubtter
    - if signed_in?
      .form-inline
        .navbar-brand.text-light @#{current_user.name}
        = link_to 'ホーム', current_user, class: 'btn btn-outline-light'
        = link_to 'アカウント', edit_user_registration_path, class: 'btn btn-outline-light'
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light'
  = render 'layouts/user_home_header', user: @user || current_user
