.application-header.fixed-top
  %nav.navbar.navbar-dark.bg-dark
    .navbar-brand.text-light
      %span.fab.fa-2x.fa-twitter
      %span Tubtter
    - if signed_in?
      .form-inline
        .navbar-brand.text-light @#{current_user.name}
        = button_to 'ホーム', current_user, method: :get, class: 'btn btn-outline-light'
        = button_to 'アカウント', edit_user_registration_path, method: :get, class: 'btn btn-outline-light'
        = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light'

  %nav.navbar.navbar-light.bg-light
    - if signed_in? && @user
      .form-inline
        .navbar-brand #{@user.name}のホーム
        = button_to 'ツイート', @user, method: :get, class: 'btn btn-outline-dark'
        = button_to 'リツイート', user_retweets_path(@user), method: :get, class: 'btn btn-outline-dark'
        = button_to 'リプライ', user_replies_path(@user), method: :get, class: 'btn btn-outline-dark'
        = button_to 'フォロー中', user_followings_path(@user), method: :get, class: 'btn btn-outline-dark'
        = button_to 'フォロワー', user_followers_path(@user), method: :get, class: 'btn btn-outline-dark'
        - if current_user?(@user)
          = button_to 'おすすめユーザー', user_unfollowings_path(@user), method: :get, class: 'btn btn-outline-dark'
      - unless current_user?(@user)
        - if current_user.following?(@user)
          = button_to 'フォロー解除', user_follower_path(@user), method: :delete, class: 'btn btn-outline-dark'
        - else
          = button_to 'フォローする', user_follower_path(@user), method: :post, class: 'btn btn-outline-dark'
    - else
      .navbar-brand 「いま」起きていることを見つけよう
