%nav.navbar.navbar-light.bg-light
  - if signed_in? && user
    .form-inline
      = render 'layouts/user_icon', icon: user.icon.thumb
      .navbar-brand #{user.name}のホーム
      = link_to 'ツイート', user_path(user), class: 'btn btn-outline-dark'
      = link_to 'リツイート', user_retweets_path(user), class: 'btn btn-outline-dark'
      = link_to 'リプライ', user_replies_path(user), class: 'btn btn-outline-dark'
      = link_to 'フォロー中', user_followings_path(user), class: 'btn btn-outline-dark'
      = link_to 'フォロワー', user_followers_path(user), class: 'btn btn-outline-dark'
      - if current_user?(user)
        = link_to 'おすすめユーザー', user_unfollowings_path(user), class: 'btn btn-outline-dark'
    - unless current_user?(user)
      - if current_user.following?(user)
        = link_to 'フォロー解除', user_follower_path(user), method: :delete, class: 'btn btn-outline-dark'
      - else
        = link_to 'フォローする', user_follower_path(user), method: :post, class: 'btn btn-outline-dark'
  - else
    .navbar-brand 「いま」起きていることを見つけよう
